/* Main Styles */

/* Main Container */
.main-container {
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 30px 0;
}

/* Hero Section */
.hero {
    background-color: var(--color-orange);
    border-radius: var(--border-radius);
    padding: 40px;
    gap: 100px;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Hero Content */
.hero__content {
    width: 50%;
    gap: 30px;
}

/* Hero Title */
.hero__title {
    color: var(--color-white);
    font-size: var(--font-size-level-1);
    font-weight: 500;
    line-height: 60px;
}

/* Hero Paragraph */
.hero__paragraph {
    color: var(--color-white);
    font-size: 1.38rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Hero Buttons */
.hero__buttons {
    gap: 20px;
    align-items: flex-start;
}

/* Hero Demo Button */
.hero__demo-button {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid currentColor;
}

/* Hero Users */
.hero__users {
    background: var(--color-dark);
    border-radius: var(--border-radius);
    color: var(--color-white);
    padding: 10px 15px;
    gap: 8px;
    font-size: 0.88rem;
}

/* Hero Images */
.hero__image {
    position: absolute;
}

.hero__image[data-app="goals"] {
    transform: rotate(-15deg);
    bottom: -100px;
    right: 0;
}

.hero__image[data-app="dashboard"] {
    transform: rotate(14deg);
    bottom: -250px;
    right: 150px;
}

.hero__image[data-app="settings"] {
    transform: rotate(5deg);
    bottom: -210px;
    left: 150px;
}

.hero__image[data-app="habbit-tracker"] {
    transform: rotate(-20deg);
    bottom: -150px;
    left: 25px;
}

/* Features Section */
.features {
    gap: var(--space-container-gap);
    padding: 110px 70px 40px;
}

.features__subtitle {
    align-self: center;
}

.features__icon-box {
    width: 30%;
}

/* Social Section */
.social {
    gap: 60px;
    padding: 0 70px;
}

.social__content-section,
.social__image-section {
    width: 50%;
}

/* Social Image */
.social__image-section {
    background-color: var(--color-light-blue);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 75px 140px 0;
}

/* Social Content */
.social__content {
    font-size: 2.25rem;
    font-weight: 500;
}

/* Social Companies */
.social__companies {
    padding: 35px 50px;
    padding-right: 0;
    background: var(--color-light-grey);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 110px);
}

/* Preview Section */
.preview {
    gap: var(--space-container-gap);
    padding: 110px 70px 55px;
}

.preview__title,
.preview__subtitle {
    width: 100%;
}

.preview__subtitle {
    margin-top: calc(var(--space-container-gap) / -2);
    margin-bottom: 80px;
}

/* Testimonials Section */
.testimonials {
    gap: var(--space-container-gap);
    padding: 55px 70px;
}

.testimonials__title,
.testimonials__subtitle {
    width: 100%;
}

.testimonials__subtitle {
    margin-top: calc((var(--space-container-gap) / -2));
    margin-bottom: 70px;
}

.testimonials__testimonial {
    width: 30%;
}

/* CTA Section */
.cta {
    padding: 55px 70px;
}

.cta__inner {
    gap: var(--space-container-gap);
    background: var(--color-light-blue);
    border-radius: var(--border-radius);
    padding: 80px;
}

.cta__left-section,
.cta__right-section {
    width: 50%;
}

/* CTA Left Section */
.cta__left-section {
    gap: 100px;
}

.cta__logo {
    width: 75px;
    aspect-ratio: 1/1;
}

.cta__title {
    font-size: 5.3rem;
    font-weight: 400;
}

/* CTA Right Section */
.cta__right-section {
    justify-content: flex-end;
    align-items: flex-end;
    gap: 60px;
}

.cta__content {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: right;
}