/* FloatCircle Component
    
    Props(vars):
        --pos-x
        --pos-y
        --color
*/

.float-circle {
    --pos-x: 0;
    --pos-y: 0;
    --color: var(--color-white);

    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--color);
    position: absolute;
    top: var(--pos-y);
    left: var(--pos-x);
    transform: translate(-50%, -50%);
}